branches:
  only:
    - master
    - /^issue.*$/

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode8.3
      sudo: required

before_install:
    - git clone https://github.com/IBM-Swift/Package-Builder.git
    - test -n "$SWIFT_VERSION" && echo "$SWIFT_VERSION" > .swift-version || echo "SWIFT_VERSION not set, using $(cat .swift-version)"

script:
  - ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR